<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.almanac.piyush.auntkitchen">
<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Choose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".custlogin" />
        <activity android:name=".auntlogin" />
        <activity
            android:name=".aorders"
            android:label="@string/title_activity_aorders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".atoday"
            android:label="@string/title_activity_atoday"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".aprofile"
            android:label="@string/title_activity_aprofile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".aabout"
            android:label="@string/title_activity_aabout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chome"
            android:label="@string/title_activity_chome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cmyorders"
            android:label="@string/title_activity_cmyorders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cprofile"
            android:label="@string/title_activity_cprofile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cabout"
            android:label="@string/title_activity_cabout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Feedback" />
        <activity android:name=".AboutDev"></activity>
    </application>

</manifest>